# dependencies
node_modules/

# testing
coverage/

# vercel
.now/
.vercel/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
.idea/*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*

# cypress
cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

# TypeScript incremental compilation cache
*.tsbuildinfo
