@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}

# workspace configuration
shared-workspace-lockfile=false
strict-peer-dependencies=false
auto-install-peers=true

# only apply hoisted node-linker in production (Vercel)
if-env:VERCEL=1
node-linker=hoisted
endif:VERCEL