/* Add these styles at the top of your main.css file */
body {
  -webkit-tap-highlight-color: #8B5CF6; /* Equivalent to theme`colors.purple.500` */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.wf-loading {
  visibility: hidden;
}

/* Add these styles to your global CSS file */
.search-select .react-select__control {
  @apply p-2 border-gray-300 rounded-md shadow-sm;
}

.search-select .react-select__input {
  @apply p-0 m-0;
}

.search-select .react-select__placeholder {
  @apply m-0;
}

.search-select .react-select__value-container {
  @apply p-0;
}

.search-select .react-select__single-value {
  @apply m-0;
}

.search-select .react-select__indicator-separator {
  @apply hidden;
}

.search-select .react-select__dropdown-indicator {
  @apply hidden;
}

.search-select .react-select__clear-indicator {
  @apply p-0 cursor-pointer;
}
